In [3]:
import numpy as np
import pandas as pd

In [4]:
disc = {
    "Name": ["Ram", "Shayam", "Sameer", "Kajal", "Irfan", "Rohit"],
    "Roll no" : [1,2,3,4,5,6],
    "Grades": ["A", "B", "C", "C", "B", "A"],
    "Email" : ["abc@gmail.com", 
               "def@gmail.com", 
               "ghi@gmail.com",
               "jkl@gmail.com", 
               "mno@gmail.com",
               "pqr@gmail.com",]
}
disc

{'Name': ['Ram', 'Shayam', 'Sameer', 'Kajal', 'Irfan', 'Rohit'],
 'Roll no': [1, 2, 3, 4, 5, 6],
 'Grades': ['A', 'B', 'C', 'C', 'B', 'A'],
 'Email': ['abc@gmail.com',
  'def@gmail.com',
  'ghi@gmail.com',
  'jkl@gmail.com',
  'mno@gmail.com',
  'pqr@gmail.com']}

In [5]:
df = pd.DataFrame(disc)
df

     Name  Roll no Grades          Email
0     Ram        1      A  abc@gmail.com
1  Shayam        2      B  def@gmail.com
2  Sameer        3      C  ghi@gmail.com
3   Kajal        4      C  jkl@gmail.com
4   Irfan        5      B  mno@gmail.com
5   Rohit        6      A  pqr@gmail.com

In [6]:
# Top 5  Entities  of the table
df.head()

     Name  Roll no Grades          Email
0     Ram        1      A  abc@gmail.com
1  Shayam        2      B  def@gmail.com
2  Sameer        3      C  ghi@gmail.com
3   Kajal        4      C  jkl@gmail.com
4   Irfan        5      B  mno@gmail.com

In [7]:
# last 5 entites of the table
df.tail()

     Name  Roll no Grades          Email
1  Shayam        2      B  def@gmail.com
2  Sameer        3      C  ghi@gmail.com
3   Kajal        4      C  jkl@gmail.com
4   Irfan        5      B  mno@gmail.com
5   Rohit        6      A  pqr@gmail.com

In [8]:
df.tail(2)

    Name  Roll no Grades          Email
4  Irfan        5      B  mno@gmail.com
5  Rohit        6      A  pqr@gmail.com

In [9]:
df.describe()

        Roll no
count  6.000000
mean   3.500000
std    1.870829
min    1.000000
25%    2.250000
50%    3.500000
75%    4.750000
max    6.000000

In [11]:
cus= pd.read_csv("Customer Table.csv")
cus

,CustomerID,Company Name,Costumer Name,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Berlin,12209,Germany
1,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Mexico D.F.,5021,Mexico
2,3,Antonio Moreno Taqueria,Antonio Moreno,Mexico D.F.,5023,Mexico
3,4,Around the Horn,Thomas Hardy,London,34626,UK
4,5,Berglunds snabbkp,Christina Berglund,Lulea,95822,Sweden
...,...,...,...,...,...,...
86,87,Wartian Herkku,Pirkko Koskitalo,Oulu,90110,Finland
87,88,Wellington Importadora,Paula Parente,Resende,51849,Brazil
88,89,White Clover Markets,Karl Jablonski,Seattle,98128,USA
89,90,Wilman Kala,Matti Karttunen,Helsinki,21240,Finland
90,91,Wolski,Zbyszek,Walla,56189,Poland

In [12]:
type(cus)

pandas.core.frame.DataFrame

In [14]:
type(cus["CustomerID"])

pandas.core.series.Series

In [15]:
cus.index

RangeIndex(start=0, stop=91, step=1)

In [18]:
cus.columns # from columns we get all the headers from the tabole

Index(['CustomerID', 'Company Name', 'Costumer Name', 'City', 'PostalCode',
       'Country'],
      dtype='object')

In [19]:
cus.to_numpy()# making 2D array

array([[1, 'Alfreds Futterkiste', 'Maria Anders', 'Berlin', 12209,
        'Germany'],
       [2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo',
        'Mexico D.F.', 5021, 'Mexico'],
       [3, 'Antonio Moreno Taqueria', 'Antonio Moreno', 'Mexico D.F.',
        5023, 'Mexico'],
       [4, 'Around the Horn', 'Thomas Hardy', 'London', 34626, 'UK'],
       [5, 'Berglunds snabbkp', 'Christina Berglund', 'Lulea', 95822,
        'Sweden'],
       [6, 'Blauer See Delikatessen', 'Hanna Moos', 'Mannheim', 68306,
        'Germany'],
       [7, 'Blondel pere et fils', 'Frederique Citeaux', 'Strasbourg',
        67000, 'France'],
       [8, 'BOlido Comidas preparadas', 'Martin Sommer', 'Madrid', 28023,
        'Spain'],
       [9, 'Bon app', 'Laurence Lebihans', 'Marseille', 13008, 'France'],
       [10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', 'Tsawassen',
        254685, 'Canada'],
       [11, 'Bs Beverages', 'Victoria Ashworth', 'London', 13546, 'UK'],
       [12, 'Cactus Comidas para llevar', 'Patricio Simpson',
        'Buenos Aires', 1010, 'Argentina'],
       [13, 'Centro comercial Moctezuma', 'Francisco Chang',
        'Mexico D.F.', 5022, 'Mexico'],
       [14, 'Chop-suey Chinese', 'Yang Wang', 'Bern', 3012,
        'Switzerland'],
       [15, 'Comercio Mineiro', 'Pedro Afonso', 'Sao Paulo', 6565,
        'Brazil'],
       [16, 'Consolidated Holdings', 'Elizabeth Brown', 'London', 541684,
        'UK'],
       [17, 'Drachenblut Delikatessend', 'Sven Ottlieb', 'Aachen', 52066,
        'Germany'],
       [18, 'Du monde entier', 'Janine Labrune', 'Nantes', 44000,
        'France'],
       [19, 'Eastern Connection', 'Ann Devon', 'London', 546, 'UK'],
       [20, 'Ernst Handel', 'Roland Mendel', 'Graz', 8010, 'Austria'],
       [21, 'Familia Arquibaldo', 'Aria Cruz', 'Sao Paulo', 4984,
        'Brazil'],
       [22, 'FISSA Fabrica Inter. Salchichas S.A.', 'Diego Roel',
        'Madrid', 28034, 'Spain'],
       [23, 'Folies gourmandes', 'Martine Rance', 'Lille', 59000,
        'France'],
       [24, 'Folk och fa HB', 'Maria Larsson', 'Bracke', 96825, 'Sweden'],
       [25, 'Frankenversand', 'Peter Franken', 'Mnchen', 80805,
        'Germany'],
       [26, 'France restauration', 'Carine Schmitt', 'Nantes', 44000,
        'France'],
       [27, 'Franchi S.p.A.', 'Paolo Accorti', 'Torino', 10100, 'Italy'],
       [28, 'Furia Bacalhau e Frutos do Mar', 'Lino Rodriguez', 'Lisboa',
        1675, 'Portugal'],
       [29, 'Galeria del gastrOnomo', 'Eduardo Saavedra', 'Barcelona',
        8022, 'Spain'],
       [30, 'Godos Cocina Tipica', 'Jose Pedro Freyre', 'Sevilla', 41101,
        'Spain'],
       [31, 'Gourmet Lanchonetes', 'Andre Fonseca', 'Campinas', 76951,
        'Brazil'],
       [32, 'Great Lakes Food Market', 'Howard Snyder', 'Eugene', 97403,
        'USA'],
       [33, 'GROSELLA-Restaurante', 'Manuel Pereira', 'Caracas', 1081,
        'Venezuela'],
       [34, 'Hanari Carnes', 'Mario Pontes', 'Rio de Janeiro', 5454,
        'Brazil'],
       [35, 'HILARION-Abastos', 'Carlos Hernandez', 'San CristObal',
        5022, 'Venezuela'],
       [36, 'Hungry Coyote Import Store', 'Yoshi Latimer', 'Elgin',
        97827, 'USA'],
       [37, 'Hungry Owl All-Night Grocers', 'Patricia McKenna', 'Cork',
        18845, 'Ireland'],
       [38, 'Island Trading', 'Helen Bennett', 'Cowes', 84624, 'UK'],
       [39, 'Koniglich Essen', 'Philip Cramer', 'Brandenburg', 14776,
        'Germany'],
       [40, 'La corne dabondance', 'Daniel Tonini', 'Versailles', 78000,
        'France'],
       [41, 'La maison dAsie', 'Annette Roulet', 'Toulouse', 31000,
        'France'],
       [42, 'Laughing Bacchus Wine Cellars', 'Yoshi Tannamuri',
        'Vancouver', 41562, 'Canada'],
       [43, 'Lazy K Kountry Store', 'John Steel', 'Walla Walla', 99362,
        'USA'],
       [44, 'Lehmanns Marktstand', 'Renate Messner', 'Frankfurt a.M.',
        60528, 'Germany'],
       [45, 'Lets Stop N Shop', 'Jaime Yorres', 'San Francisco', 94117,
        'USA'],
       [46, 'LILA-Supermercado', 'Carlos Gonzalez', 'Barquisimeto', 3508,
        'Venezuela'],
       [47, 'LINO-Delicateses', 'Felipe Izquierdo', 'I. de Margarita',
        4980, 'Venezuela'],
       [48, 'Lonesome Pine Restaurant', 'Fran Wilson', 'Portland', 97219,
        'USA'],
       [49, 'Magazzini Alimentari Riuniti', 'Giovanni Rovelli',
        'Bergamo', 24100, 'Italy'],
       [50, 'Maison Dewey', 'Catherine Dewey', 'Bruxelles', 21365,
        'Belgium'],
       [51, 'Mere Paillarde', 'Jean Fresniere', 'Montreal', 69162,
        'Canada'],
       [52, 'Morgenstern Gesundkost', 'Alexander Feuer', 'Leipzig', 4179,
        'Germany'],
       [53, 'North/South', 'Simon Crowther', 'London', 196215, 'UK'],
       [54, 'Oceano Atlantico Ltda.', 'Yvonne Moncada', 'Buenos Aires',
        1010, 'Argentina'],
       [55, 'Old World Delicatessen', 'Rene Phillips', 'Anchorage',
        99508, 'USA'],
       [56, 'Ottilies Kaseladen', 'Henriette Pfalzheim', 'Koln', 50739,
        'Germany'],
       [57, 'Paris specialites', 'Marie Bertrand', 'Paris', 75012,
        'France'],
       [58, 'Pericles Comidas clasicas', 'Guillermo Fernandez',
        'Mexico D.F.', 5033, 'Mexico'],
       [59, 'Piccolo und mehr', 'Georg Pipps', 'Salzburg', 5020,
        'Austria'],
       [60, 'Princesa Isabel Vinhoss', 'Isabel de Castro', 'Lisboa',
        1756, 'Portugal'],
       [61, 'Que Delicia', 'Bernardo Batista', 'Rio de Janeiro', 816466,
        'Brazil'],
       [62, 'Queen Cozinha', 'Lucia Carvalho', 'Sao Paulo', 851306,
        'Brazil'],
       [63, 'QUICK-Stop', 'Horst Kloss', 'Cunewalde', 1307, 'Germany'],
       [64, 'Rancho grande', 'Sergio Gutierrez', 'Buenos Aires', 1010,
        'Argentina'],
       [65, 'Rattlesnake Canyon Grocery', 'Paula Wilson', 'Albuquerque',
        87110, 'USA'],
       [66, 'Reggiani Caseifici', 'Maurizio Moroni', 'Reggio Emilia',
        42100, 'Italy'],
       [67, 'Ricardo Adocicados', 'Janete Limeira', 'Rio de Janeiro',
        84646, 'Brazil'],
       [68, 'Richter Supermarkt', 'Michael Holz', 'Geneve', 1203,
        'Switzerland'],
       [69, 'Romero y tomillo', 'Alejandra Camino', 'Madrid', 28001,
        'Spain'],
       [70, 'Sante Gourmet', 'Jonas Bergulfsen', 'Stavern', 4110,
        'Norway'],
       [71, 'Save-a-lot Markets', 'Jose Pavarotti', 'Boise', 83720,
        'USA'],
       [72, 'Seven Seas Imports', 'Hari Kumar', 'London', 85114, 'UK'],
       [73, 'Simons bistro', 'Jytte Petersen', 'Kbenhavn', 1734,
        'Denmark'],
       [74, 'Specialites du monde', 'Dominique Perrier', 'Paris', 75016,
        'France'],
       [75, 'Split Rail Beer & Ale', 'Art Braunschweiger', 'Lander',
        82520, 'USA'],
       [76, 'Supremes delices', 'Pascale Cartrain', 'Charleroi', 21564,
        'Belgium'],
       [77, 'The Big Cheese', 'Liz Nixon', 'Portland', 97201, 'USA'],
       [78, 'The Cracker Box', 'Liu Wong', 'Butte', 59801, 'USA'],
       [79, 'Toms Spezialitaten', 'Karin Josephs', 'Münster', 44087,
        'Germany'],
       [80, 'Tortuga Restaurante', 'Miguel Angel Paolino', 'Mexico D.F.',
        5033, 'Mexico'],
       [81, 'Tradicao Hipermercados', 'Anabela Domingues', 'Sao Paulo',
        51398, 'Brazil'],
       [82, 'Trails Head Gourmet Provisioners', 'Helvetius Nagy',
        'Kirkland', 98034, 'USA'],
       [83, 'Vaffeljernet', 'Palle Ibsen', 'rhus', 8200, 'Denmark'],
       [84, 'Victuailles en stock', 'Mary Saveley', 'Lyon', 69004,
        'France'],
       [85, 'Vins et alcools Chevalier', 'Paul Henriot', 'Reims', 51100,
        'France'],
       [86, 'Die Wandernde Kuh', 'Rita Müller', 'Stuttgart', 70563,
        'Germany'],
       [87, 'Wartian Herkku', 'Pirkko Koskitalo', 'Oulu', 90110,
        'Finland'],
       [88, 'Wellington Importadora', 'Paula Parente', 'Resende', 51849,
        'Brazil'],
       [89, 'White Clover Markets', 'Karl Jablonski', 'Seattle', 98128,
        'USA'],
       [90, 'Wilman Kala', 'Matti Karttunen', 'Helsinki', 21240,
        'Finland'],
       [91, 'Wolski', 'Zbyszek', 'Walla', 56189, 'Poland']], dtype=object)

In [21]:
cus.T

,0,1,2,3,4,5,6,7,8,9,...,81,82,83,84,85,86,87,88,89,90
CustomerID,1,2,3,4,5,6,7,8,9,10,...,82,83,84,85,86,87,88,89,90,91
Company Name,Alfreds Futterkiste,Ana Trujillo Emparedados y helados,Antonio Moreno Taqueria,Around the Horn,Berglunds snabbkp,Blauer See Delikatessen,Blondel pere et fils,BOlido Comidas preparadas,Bon app,Bottom-Dollar Marketse,...,Trails Head Gourmet Provisioners,Vaffeljernet,Victuailles en stock,Vins et alcools Chevalier,Die Wandernde Kuh,Wartian Herkku,Wellington Importadora,White Clover Markets,Wilman Kala,Wolski
Costumer Name,Maria Anders,Ana Trujillo,Antonio Moreno,Thomas Hardy,Christina Berglund,Hanna Moos,Frederique Citeaux,Martin Sommer,Laurence Lebihans,Elizabeth Lincoln,...,Helvetius Nagy,Palle Ibsen,Mary Saveley,Paul Henriot,Rita Müller,Pirkko Koskitalo,Paula Parente,Karl Jablonski,Matti Karttunen,Zbyszek
City,Berlin,Mexico D.F.,Mexico D.F.,London,Lulea,Mannheim,Strasbourg,Madrid,Marseille,Tsawassen,...,Kirkland,rhus,Lyon,Reims,Stuttgart,Oulu,Resende,Seattle,Helsinki,Walla
PostalCode,12209,5021,5023,34626,95822,68306,67000,28023,13008,254685,...,98034,8200,69004,51100,70563,90110,51849,98128,21240,56189
Country,Germany,Mexico,Mexico,UK,Sweden,Germany,France,Spain,France,Canada,...,USA,Denmark,France,France,Germany,Finland,Brazil,USA,Finland,Poland

In [24]:
cus.drop(3, axis = 0)

,CustomerID,Company Name,Costumer Name,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Berlin,12209,Germany
1,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Mexico D.F.,5021,Mexico
2,3,Antonio Moreno Taqueria,Antonio Moreno,Mexico D.F.,5023,Mexico
4,5,Berglunds snabbkp,Christina Berglund,Lulea,95822,Sweden
5,6,Blauer See Delikatessen,Hanna Moos,Mannheim,68306,Germany
...,...,...,...,...,...,...
86,87,Wartian Herkku,Pirkko Koskitalo,Oulu,90110,Finland
87,88,Wellington Importadora,Paula Parente,Resende,51849,Brazil
88,89,White Clover Markets,Karl Jablonski,Seattle,98128,USA
89,90,Wilman Kala,Matti Karttunen,Helsinki,21240,Finland
90,91,Wolski,Zbyszek,Walla,56189,Poland

In [27]:
cus.loc[(48,78),("Company Name", "Costumer Name")]

                    Company Name     Costumer Name
48  Magazzini Alimentari Riuniti  Giovanni Rovelli
78            Toms Spezialitaten     Karin Josephs

In [30]:
cus.loc[tuple((np.arange(6,8))),("Company Name", "Costumer Name")]

                Company Name       Costumer Name
6       Blondel pere et fils  Frederique Citeaux
7  BOlido Comidas preparadas       Martin Sommer

In [31]:
cus.loc[np.arange(48,78),:]

,CustomerID,Company Name,Costumer Name,City,PostalCode,Country
48,49,Magazzini Alimentari Riuniti,Giovanni Rovelli,Bergamo,24100,Italy
49,50,Maison Dewey,Catherine Dewey,Bruxelles,21365,Belgium
50,51,Mere Paillarde,Jean Fresniere,Montreal,69162,Canada
51,52,Morgenstern Gesundkost,Alexander Feuer,Leipzig,4179,Germany
52,53,North/South,Simon Crowther,London,196215,UK
53,54,Oceano Atlantico Ltda.,Yvonne Moncada,Buenos Aires,1010,Argentina
54,55,Old World Delicatessen,Rene Phillips,Anchorage,99508,USA
55,56,Ottilies Kaseladen,Henriette Pfalzheim,Koln,50739,Germany
56,57,Paris specialites,Marie Bertrand,Paris,75012,France
57,58,Pericles Comidas clasicas,Guillermo Fernandez,Mexico D.F.,5033,Mexico
58,59,Piccolo und mehr,Georg Pipps,Salzburg,5020,Austria
59,60,Princesa Isabel Vinhoss,Isabel de Castro,Lisboa,1756,Portugal
60,61,Que Delicia,Bernardo Batista,Rio de Janeiro,816466,Brazil
61,62,Queen Cozinha,Lucia Carvalho,Sao Paulo,851306,Brazil
62,63,QUICK-Stop,Horst Kloss,Cunewalde,1307,Germany
63,64,Rancho grande,Sergio Gutierrez,Buenos Aires,1010,Argentina
64,65,Rattlesnake Canyon Grocery,Paula Wilson,Albuquerque,87110,USA
65,66,Reggiani Caseifici,Maurizio Moroni,Reggio Emilia,42100,Italy
66,67,Ricardo Adocicados,Janete Limeira,Rio de Janeiro,84646,Brazil
67,68,Richter Supermarkt,Michael Holz,Geneve,1203,Switzerland
68,69,Romero y tomillo,Alejandra Camino,Madrid,28001,Spain
69,70,Sante Gourmet,Jonas Bergulfsen,Stavern,4110,Norway
70,71,Save-a-lot Markets,Jose Pavarotti,Boise,83720,USA
71,72,Seven Seas Imports,Hari Kumar,London,85114,UK
72,73,Simons bistro,Jytte Petersen,Kbenhavn,1734,Denmark
73,74,Specialites du monde,Dominique Perrier,Paris,75016,France
74,75,Split Rail Beer & Ale,Art Braunschweiger,Lander,82520,USA
75,76,Supremes delices,Pascale Cartrain,Charleroi,21564,Belgium
76,77,The Big Cheese,Liz Nixon,Portland,97201,USA
77,78,The Cracker Box,Liu Wong,Butte,59801,USA

In [32]:
cus.loc[:, "Company Name"]

0                    Alfreds Futterkiste
1     Ana Trujillo Emparedados y helados
2                Antonio Moreno Taqueria
3                        Around the Horn
4                      Berglunds snabbkp
                     ...
86                        Wartian Herkku
87                Wellington Importadora
88                  White Clover Markets
89                           Wilman Kala
90                                Wolski
Name: Company Name, Length: 91, dtype: object

In [33]:
np.array(cus.loc[:, "Company Name"])

array(['Alfreds Futterkiste', 'Ana Trujillo Emparedados y helados',
       'Antonio Moreno Taqueria', 'Around the Horn', 'Berglunds snabbkp',
       'Blauer See Delikatessen', 'Blondel pere et fils',
       'BOlido Comidas preparadas', 'Bon app', 'Bottom-Dollar Marketse',
       'Bs Beverages', 'Cactus Comidas para llevar',
       'Centro comercial Moctezuma', 'Chop-suey Chinese',
       'Comercio Mineiro', 'Consolidated Holdings',
       'Drachenblut Delikatessend', 'Du monde entier',
       'Eastern Connection', 'Ernst Handel', 'Familia Arquibaldo',
       'FISSA Fabrica Inter. Salchichas S.A.', 'Folies gourmandes',
       'Folk och fa HB', 'Frankenversand', 'France restauration',
       'Franchi S.p.A.', 'Furia Bacalhau e Frutos do Mar',
       'Galeria del gastrOnomo', 'Godos Cocina Tipica',
       'Gourmet Lanchonetes', 'Great Lakes Food Market',
       'GROSELLA-Restaurante', 'Hanari Carnes', 'HILARION-Abastos',
       'Hungry Coyote Import Store', 'Hungry Owl All-Night Grocers',
       'Island Trading', 'Koniglich Essen', 'La corne dabondance',
       'La maison dAsie', 'Laughing Bacchus Wine Cellars',
       'Lazy K Kountry Store', 'Lehmanns Marktstand', 'Lets Stop N Shop',
       'LILA-Supermercado', 'LINO-Delicateses',
       'Lonesome Pine Restaurant', 'Magazzini Alimentari Riuniti',
       'Maison Dewey', 'Mere Paillarde', 'Morgenstern Gesundkost',
       'North/South', 'Oceano Atlantico Ltda.', 'Old World Delicatessen',
       'Ottilies Kaseladen', 'Paris specialites',
       'Pericles Comidas clasicas', 'Piccolo und mehr',
       'Princesa Isabel Vinhoss', 'Que Delicia', 'Queen Cozinha',
       'QUICK-Stop', 'Rancho grande', 'Rattlesnake Canyon Grocery',
       'Reggiani Caseifici', 'Ricardo Adocicados', 'Richter Supermarkt',
       'Romero y tomillo', 'Sante Gourmet', 'Save-a-lot Markets',
       'Seven Seas Imports', 'Simons bistro', 'Specialites du monde',
       'Split Rail Beer & Ale', 'Supremes delices', 'The Big Cheese',
       'The Cracker Box', 'Toms Spezialitaten', 'Tortuga Restaurante',
       'Tradicao Hipermercados', 'Trails Head Gourmet Provisioners',
       'Vaffeljernet', 'Victuailles en stock',
       'Vins et alcools Chevalier', 'Die Wandernde Kuh', 'Wartian Herkku',
       'Wellington Importadora', 'White Clover Markets', 'Wilman Kala',
       'Wolski'], dtype=object)

In [34]:
cn = cus.loc[:, "Company Name"]
cn

0                    Alfreds Futterkiste
1     Ana Trujillo Emparedados y helados
2                Antonio Moreno Taqueria
3                        Around the Horn
4                      Berglunds snabbkp
                     ...
86                        Wartian Herkku
87                Wellington Importadora
88                  White Clover Markets
89                           Wilman Kala
90                                Wolski
Name: Company Name, Length: 91, dtype: object

In [37]:
company_data = {
    1: {"Company Name": "Tech Innovators", "Employee Name": "John Smith", "Position": "Software Engineer"},
    2: {"Company Name": "Creative Solutions", "Employee Name": "Jane Doe", "Position": "Graphic Designer"},
    3: {"Company Name": "HealthFirst", "Employee Name": "Emily Davis", "Position": "Nurse"},
    4: {"Company Name": "Green Energy", "Employee Name": "Michael Brown", "Position": "Project Manager"},
    5: {"Company Name": "Global Finance", "Employee Name": "Laura Wilson", "Position": "Financial Analyst"},
    6: {"Company Name": "EduTech", "Employee Name": "Chris Johnson", "Position": "Data Scientist"},
    7: {"Company Name": "Urban Builders", "Employee Name": "Amanda Taylor", "Position": "Architect"},
    8: {"Company Name": "Cyber Secure", "Employee Name": "David Lee", "Position": "Cybersecurity Specialist"},
    9: {"Company Name": "Aero Dynamics", "Employee Name": "Sarah Moore", "Position": "Aerospace Engineer"},
    10: {"Company Name": "WellCare", "Employee Name": "Daniel Martin", "Position": "Pharmacist"},
    11: {"Company Name": "Tech Innovators", "Employee Name": "James Anderson", "Position": "DevOps Engineer"},
    12: {"Company Name": "Creative Solutions", "Employee Name": "Olivia Thomas", "Position": "Content Writer"},
    13: {"Company Name": "HealthFirst", "Employee Name": "Megan Harris", "Position": "Physical Therapist"},
    14: {"Company Name": "Green Energy", "Employee Name": "Andrew Lewis", "Position": "Environmental Consultant"},
    15: {"Company Name": "Global Finance", "Employee Name": "Sophia Walker", "Position": "Accountant"},
    16: {"Company Name": "EduTech", "Employee Name": "Ryan Hall", "Position": "Machine Learning Engineer"},
    17: {"Company Name": "Urban Builders", "Employee Name": "Jessica Allen", "Position": "Interior Designer"},
    18: {"Company Name": "Cyber Secure", "Employee Name": "Ethan Young", "Position": "Network Administrator"},
    19: {"Company Name": "Aero Dynamics", "Employee Name": "Madison King", "Position": "Mechanical Engineer"},
    20: {"Company Name": "WellCare", "Employee Name": "Joshua Wright", "Position": "Radiologist"},
    21: {"Company Name": "Tech Innovators", "Employee Name": "Matthew Scott", "Position": "Product Manager"},
    22: {"Company Name": "Creative Solutions", "Employee Name": "Ava Green", "Position": "Marketing Specialist"},
    23: {"Company Name": "HealthFirst", "Employee Name": "Chloe Baker", "Position": "Dietitian"},
    24: {"Company Name": "Green Energy", "Employee Name": "Benjamin Adams", "Position": "Sustainability Officer"},
    25: {"Company Name": "Global Finance", "Employee Name": "Zoe Nelson", "Position": "Risk Analyst"},
    26: {"Company Name": "EduTech", "Employee Name": "Liam Carter", "Position": "Education Consultant"},
    27: {"Company Name": "Urban Builders", "Employee Name": "Isabella Perez", "Position": "Construction Manager"},
    28: {"Company Name": "Cyber Secure", "Employee Name": "Mason Roberts", "Position": "IT Support Specialist"},
    29: {"Company Name": "Aero Dynamics", "Employee Name": "Ella Reed", "Position": "Aviation Engineer"},
    30: {"Company Name": "WellCare", "Employee Name": "Samuel Turner", "Position": "Physical Therapist"},
    31: {"Company Name": "Tech Innovators", "Employee Name": "Grace Lewis", "Position": "Data Analyst"},
    32: {"Company Name": "Creative Solutions", "Employee Name": "Jackson Torres", "Position": "SEO Specialist"},
    33: {"Company Name": "HealthFirst", "Employee Name": "Hannah Stewart", "Position": "Medical Lab Technician"},
    34: {"Company Name": "Green Energy", "Employee Name": "Lucas Murphy", "Position": "Energy Consultant"},
    35: {"Company Name": "Global Finance", "Employee Name": "Lily Collins", "Position": "Investment Analyst"},
    36: {"Company Name": "EduTech", "Employee Name": "Aiden Ramirez", "Position": "Curriculum Developer"},
    37: {"Company Name": "Urban Builders", "Employee Name": "Mia Cox", "Position": "Surveyor"},
    38: {"Company Name": "Cyber Secure", "Employee Name": "Harper Howard", "Position": "Security Analyst"},
    39: {"Company Name": "Aero Dynamics", "Employee Name": "Jayden Price", "Position": "Flight Engineer"},
    40: {"Company Name": "WellCare", "Employee Name": "Sophie Hughes", "Position": "Registered Nurse"},
    41: {"Company Name": "Tech Innovators", "Employee Name": "Alexander Barnes", "Position": "UX Designer"},
    42: {"Company Name": "Creative Solutions", "Employee Name": "Aria Bell", "Position": "Copywriter"},
    43: {"Company Name": "HealthFirst", "Employee Name": "Gabriel Ramirez", "Position": "Respiratory Therapist"},
    44: {"Company Name": "Green Energy", "Employee Name": "Natalie Rivera", "Position": "Environmental Scientist"},
    45: {"Company Name": "Global Finance", "Employee Name": "David Hughes", "Position": "Credit Analyst"},
    46: {"Company Name": "EduTech", "Employee Name": "Ella Jenkins", "Position": "Learning Specialist"},
    47: {"Company Name": "Urban Builders", "Employee Name": "Victoria Perry", "Position": "Urban Planner"},
    48: {"Company Name": "Cyber Secure", "Employee Name": "Henry Cooper", "Position": "Penetration Tester"},
    49: {"Company Name": "Aero Dynamics", "Employee Name": "Charlotte Brooks", "Position": "Systems Engineer"},
    50: {"Company Name": "WellCare", "Employee Name": "Scarlett Morris", "Position": "Occupational Therapist"},
}
company_data

{1: {'Company Name': 'Tech Innovators',
  'Employee Name': 'John Smith',
  'Position': 'Software Engineer'},
 2: {'Company Name': 'Creative Solutions',
  'Employee Name': 'Jane Doe',
  'Position': 'Graphic Designer'},
 3: {'Company Name': 'HealthFirst',
  'Employee Name': 'Emily Davis',
  'Position': 'Nurse'},
 4: {'Company Name': 'Green Energy',
  'Employee Name': 'Michael Brown',
  'Position': 'Project Manager'},
 5: {'Company Name': 'Global Finance',
  'Employee Name': 'Laura Wilson',
  'Position': 'Financial Analyst'},
 6: {'Company Name': 'EduTech',
  'Employee Name': 'Chris Johnson',
  'Position': 'Data Scientist'},
 7: {'Company Name': 'Urban Builders',
  'Employee Name': 'Amanda Taylor',
  'Position': 'Architect'},
 8: {'Company Name': 'Cyber Secure',
  'Employee Name': 'David Lee',
  'Position': 'Cybersecurity Specialist'},
 9: {'Company Name': 'Aero Dynamics',
  'Employee Name': 'Sarah Moore',
  'Position': 'Aerospace Engineer'},
 10: {'Company Name': 'WellCare',
  'Employee Name': 'Daniel Martin',
  'Position': 'Pharmacist'},
 11: {'Company Name': 'Tech Innovators',
  'Employee Name': 'James Anderson',
  'Position': 'DevOps Engineer'},
 12: {'Company Name': 'Creative Solutions',
  'Employee Name': 'Olivia Thomas',
  'Position': 'Content Writer'},
 13: {'Company Name': 'HealthFirst',
  'Employee Name': 'Megan Harris',
  'Position': 'Physical Therapist'},
 14: {'Company Name': 'Green Energy',
  'Employee Name': 'Andrew Lewis',
  'Position': 'Environmental Consultant'},
 15: {'Company Name': 'Global Finance',
  'Employee Name': 'Sophia Walker',
  'Position': 'Accountant'},
 16: {'Company Name': 'EduTech',
  'Employee Name': 'Ryan Hall',
  'Position': 'Machine Learning Engineer'},
 17: {'Company Name': 'Urban Builders',
  'Employee Name': 'Jessica Allen',
  'Position': 'Interior Designer'},
 18: {'Company Name': 'Cyber Secure',
  'Employee Name': 'Ethan Young',
  'Position': 'Network Administrator'},
 19: {'Company Name': 'Aero Dynamics',
  'Employee Name': 'Madison King',
  'Position': 'Mechanical Engineer'},
 20: {'Company Name': 'WellCare',
  'Employee Name': 'Joshua Wright',
  'Position': 'Radiologist'},
 21: {'Company Name': 'Tech Innovators',
  'Employee Name': 'Matthew Scott',
  'Position': 'Product Manager'},
 22: {'Company Name': 'Creative Solutions',
  'Employee Name': 'Ava Green',
  'Position': 'Marketing Specialist'},
 23: {'Company Name': 'HealthFirst',
  'Employee Name': 'Chloe Baker',
  'Position': 'Dietitian'},
 24: {'Company Name': 'Green Energy',
  'Employee Name': 'Benjamin Adams',
  'Position': 'Sustainability Officer'},
 25: {'Company Name': 'Global Finance',
  'Employee Name': 'Zoe Nelson',
  'Position': 'Risk Analyst'},
 26: {'Company Name': 'EduTech',
  'Employee Name': 'Liam Carter',
  'Position': 'Education Consultant'},
 27: {'Company Name': 'Urban Builders',
  'Employee Name': 'Isabella Perez',
  'Position': 'Construction Manager'},
 28: {'Company Name': 'Cyber Secure',
  'Employee Name': 'Mason Roberts',
  'Position': 'IT Support Specialist'},
 29: {'Company Name': 'Aero Dynamics',
  'Employee Name': 'Ella Reed',
  'Position': 'Aviation Engineer'},
 30: {'Company Name': 'WellCare',
  'Employee Name': 'Samuel Turner',
  'Position': 'Physical Therapist'},
 31: {'Company Name': 'Tech Innovators',
  'Employee Name': 'Grace Lewis',
  'Position': 'Data Analyst'},
 32: {'Company Name': 'Creative Solutions',
  'Employee Name': 'Jackson Torres',
  'Position': 'SEO Specialist'},
 33: {'Company Name': 'HealthFirst',
  'Employee Name': 'Hannah Stewart',
  'Position': 'Medical Lab Technician'},
 34: {'Company Name': 'Green Energy',
  'Employee Name': 'Lucas Murphy',
  'Position': 'Energy Consultant'},
 35: {'Company Name': 'Global Finance',
  'Employee Name': 'Lily Collins',
  'Position': 'Investment Analyst'},
 36: {'Company Name': 'EduTech',
  'Employee Name': 'Aiden Ramirez',
  'Position': 'Curriculum Developer'},
 37: {'Company Name': 'Urban Builders',
  'Employee Name': 'Mia Cox',
  'Position': 'Surveyor'},
 38: {'Company Name': 'Cyber Secure',
  'Employee Name': 'Harper Howard',
  'Position': 'Security Analyst'},
 39: {'Company Name': 'Aero Dynamics',
  'Employee Name': 'Jayden Price',
  'Position': 'Flight Engineer'},
 40: {'Company Name': 'WellCare',
  'Employee Name': 'Sophie Hughes',
  'Position': 'Registered Nurse'},
 41: {'Company Name': 'Tech Innovators',
  'Employee Name': 'Alexander Barnes',
  'Position': 'UX Designer'},
 42: {'Company Name': 'Creative Solutions',
  'Employee Name': 'Aria Bell',
  'Position': 'Copywriter'},
 43: {'Company Name': 'HealthFirst',
  'Employee Name': 'Gabriel Ramirez',
  'Position': 'Respiratory Therapist'},
 44: {'Company Name': 'Green Energy',
  'Employee Name': 'Natalie Rivera',
  'Position': 'Environmental Scientist'},
 45: {'Company Name': 'Global Finance',
  'Employee Name': 'David Hughes',
  'Position': 'Credit Analyst'},
 46: {'Company Name': 'EduTech',
  'Employee Name': 'Ella Jenkins',
  'Position': 'Learning Specialist'},
 47: {'Company Name': 'Urban Builders',
  'Employee Name': 'Victoria Perry',
  'Position': 'Urban Planner'},
 48: {'Company Name': 'Cyber Secure',
  'Employee Name': 'Henry Cooper',
  'Position': 'Penetration Tester'},
 49: {'Company Name': 'Aero Dynamics',
  'Employee Name': 'Charlotte Brooks',
  'Position': 'Systems Engineer'},
 50: {'Company Name': 'WellCare',
  'Employee Name': 'Scarlett Morris',
  'Position': 'Occupational Therapist'}}

In [39]:
cd=pd.DataFrame(company_data)
cd

,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
Company Name,Tech Innovators,Creative Solutions,HealthFirst,Green Energy,Global Finance,EduTech,Urban Builders,Cyber Secure,Aero Dynamics,WellCare,...,Tech Innovators,Creative Solutions,HealthFirst,Green Energy,Global Finance,EduTech,Urban Builders,Cyber Secure,Aero Dynamics,WellCare
Employee Name,John Smith,Jane Doe,Emily Davis,Michael Brown,Laura Wilson,Chris Johnson,Amanda Taylor,David Lee,Sarah Moore,Daniel Martin,...,Alexander Barnes,Aria Bell,Gabriel Ramirez,Natalie Rivera,David Hughes,Ella Jenkins,Victoria Perry,Henry Cooper,Charlotte Brooks,Scarlett Morris
Position,Software Engineer,Graphic Designer,Nurse,Project Manager,Financial Analyst,Data Scientist,Architect,Cybersecurity Specialist,Aerospace Engineer,Pharmacist,...,UX Designer,Copywriter,Respiratory Therapist,Environmental Scientist,Credit Analyst,Learning Specialist,Urban Planner,Penetration Tester,Systems Engineer,Occupational Therapist

In [53]:
cd.T

          Company Name     Employee Name                   Position
1      Tech Innovators        John Smith          Software Engineer
2   Creative Solutions          Jane Doe           Graphic Designer
3          HealthFirst       Emily Davis                      Nurse
4         Green Energy     Michael Brown            Project Manager
5       Global Finance      Laura Wilson          Financial Analyst
6              EduTech     Chris Johnson             Data Scientist
7       Urban Builders     Amanda Taylor                  Architect
8         Cyber Secure         David Lee   Cybersecurity Specialist
9        Aero Dynamics       Sarah Moore         Aerospace Engineer
10            WellCare     Daniel Martin                 Pharmacist
11     Tech Innovators    James Anderson            DevOps Engineer
12  Creative Solutions     Olivia Thomas             Content Writer
13         HealthFirst      Megan Harris         Physical Therapist
14        Green Energy      Andrew Lewis   Environmental Consultant
15      Global Finance     Sophia Walker                 Accountant
16             EduTech         Ryan Hall  Machine Learning Engineer
17      Urban Builders     Jessica Allen          Interior Designer
18        Cyber Secure       Ethan Young      Network Administrator
19       Aero Dynamics      Madison King        Mechanical Engineer
20            WellCare     Joshua Wright                Radiologist
21     Tech Innovators     Matthew Scott            Product Manager
22  Creative Solutions         Ava Green       Marketing Specialist
23         HealthFirst       Chloe Baker                  Dietitian
24        Green Energy    Benjamin Adams     Sustainability Officer
25      Global Finance        Zoe Nelson               Risk Analyst
26             EduTech       Liam Carter       Education Consultant
27      Urban Builders    Isabella Perez       Construction Manager
28        Cyber Secure     Mason Roberts      IT Support Specialist
29       Aero Dynamics         Ella Reed          Aviation Engineer
30            WellCare     Samuel Turner         Physical Therapist
31     Tech Innovators       Grace Lewis               Data Analyst
32  Creative Solutions    Jackson Torres             SEO Specialist
33         HealthFirst    Hannah Stewart     Medical Lab Technician
34        Green Energy      Lucas Murphy          Energy Consultant
35      Global Finance      Lily Collins         Investment Analyst
36             EduTech     Aiden Ramirez       Curriculum Developer
37      Urban Builders           Mia Cox                   Surveyor
38        Cyber Secure     Harper Howard           Security Analyst
39       Aero Dynamics      Jayden Price            Flight Engineer
40            WellCare     Sophie Hughes           Registered Nurse
41     Tech Innovators  Alexander Barnes                UX Designer
42  Creative Solutions         Aria Bell                 Copywriter
43         HealthFirst   Gabriel Ramirez      Respiratory Therapist
44        Green Energy    Natalie Rivera    Environmental Scientist
45      Global Finance      David Hughes             Credit Analyst
46             EduTech      Ella Jenkins        Learning Specialist
47      Urban Builders    Victoria Perry              Urban Planner
48        Cyber Secure      Henry Cooper         Penetration Tester
49       Aero Dynamics  Charlotte Brooks           Systems Engineer
50            WellCare   Scarlett Morris     Occupational Therapist

In [54]:
cd.drop_duplicates(subset= 'Company_Name', keep = False)

KeyError: Index(['Company_Name'], dtype='object')

In [58]:
cd.drop_duplicates(subset= "Company_Name", keep= "first")

KeyError: Index(['Company_Name'], dtype='object')

In [59]:
company_data = {
    1: {"Company Name": "Tech Innovators", "Employee Name": "John Smith", "Position": "Software Engineer"},
    2: {"Company Name": "Creative Solutions", "Employee Name": "Jane Doe", "Position": "Graphic Designer"},
    3: {"Company Name": "HealthFirst", "Employee Name": "Emily Davis", "Position": "Nurse"},
    4: {"Company Name": "Green Energy", "Employee Name": "Michael Brown", "Position": "Project Manager"},
    5: {"Company Name": "Global Finance", "Employee Name": "Laura Wilson", "Position": "Financial Analyst"},
    6: {"Company Name": "EduTech", "Employee Name": "Chris Johnson", "Position": "Data Scientist"},
    7: {"Company Name": "Urban Builders", "Employee Name": "Amanda Taylor", "Position": "Architect"},
    8: {"Company Name": "Cyber Secure", "Employee Name": "David Lee", "Position": "Cybersecurity Specialist"},
    9: {"Company Name": "Aero Dynamics", "Employee Name": "Sarah Moore", "Position": "Aerospace Engineer"},
    10: {"Company Name": "WellCare", "Employee Name": "Daniel Martin", "Position": "Pharmacist"},
    11: {"Company Name": "Tech Innovators", "Employee Name": "James Anderson", "Position": "DevOps Engineer"},
    12: {"Company Name": "Creative Solutions", "Employee Name": "Olivia Thomas", "Position": "Content Writer"},
    13: {"Company Name": "HealthFirst", "Employee Name": "Megan Harris", "Position": "Physical Therapist"},
    14: {"Company Name": "Green Energy", "Employee Name": "Andrew Lewis", "Position": "Environmental Consultant"},
    15: {"Company Name": "Global Finance", "Employee Name": "Sophia Walker", "Position": "Accountant"},
    16: {"Company Name": "EduTech", "Employee Name": "Ryan Hall", "Position": "Machine Learning Engineer"},
    17: {"Company Name": "Urban Builders", "Employee Name": "Jessica Allen", "Position": "Interior Designer"},
    18: {"Company Name": "Cyber Secure", "Employee Name": "Ethan Young", "Position": "Network Administrator"},
    19: {"Company Name": "Aero Dynamics", "Employee Name": "Madison King", "Position": "Mechanical Engineer"},
    20: {"Company Name": "WellCare", "Employee Name": "Joshua Wright", "Position": "Radiologist"},
    21: {"Company Name": "Tech Innovators", "Employee Name": "Matthew Scott", "Position": "Product Manager"},
    22: {"Company Name": "Creative Solutions", "Employee Name": "Ava Green", "Position": "Marketing Specialist"},
    23: {"Company Name": "HealthFirst", "Employee Name": "Chloe Baker", "Position": "Dietitian"},
    24: {"Company Name": "Green Energy", "Employee Name": "Benjamin Adams", "Position": "Sustainability Officer"},
    25: {"Company Name": "Global Finance", "Employee Name": "Zoe Nelson", "Position": "Risk Analyst"},
    26: {"Company Name": "EduTech", "Employee Name": "Liam Carter", "Position": "Education Consultant"},
    27: {"Company Name": "Urban Builders", "Employee Name": "Isabella Perez", "Position": "Construction Manager"},
    28: {"Company Name": "Cyber Secure", "Employee Name": "Mason Roberts", "Position": "IT Support Specialist"},
    29: {"Company Name": "Aero Dynamics", "Employee Name": "Ella Reed", "Position": "Aviation Engineer"},
    30: {"Company Name": "WellCare", "Employee Name": "Samuel Turner", "Position": "Physical Therapist"},
    31: {"Company Name": "Tech Innovators", "Employee Name": "Grace Lewis", "Position": "Data Analyst"},
    32: {"Company Name": "Creative Solutions", "Employee Name": "Jackson Torres", "Position": "SEO Specialist"},
    33: {"Company Name": "HealthFirst", "Employee Name": "Hannah Stewart", "Position": "Medical Lab Technician"},
    34: {"Company Name": "Green Energy", "Employee Name": "Lucas Murphy", "Position": "Energy Consultant"},
    35: {"Company Name": "Global Finance", "Employee Name": "Lily Collins", "Position": "Investment Analyst"},
    36: {"Company Name": "EduTech", "Employee Name": "Aiden Ramirez", "Position": "Curriculum Developer"},
    37: {"Company Name": "Urban Builders", "Employee Name": "Mia Cox", "Position": "Surveyor"},
    38: {"Company Name": "Cyber Secure", "Employee Name": "Harper Howard", "Position": "Security Analyst"},
    39: {"Company Name": "Aero Dynamics", "Employee Name": "Jayden Price", "Position": "Flight Engineer"},
    40: {"Company Name": "WellCare", "Employee Name": "Sophie Hughes", "Position": "Registered Nurse"},
    41: {"Company Name": "Tech Innovators", "Employee Name": "Alexander Barnes", "Position": "UX Designer"},
    42: {"Company Name": "Creative Solutions", "Employee Name": "Aria Bell", "Position": "Copywriter"},
    43: {"Company Name": "HealthFirst", "Employee Name": "Gabriel Ramirez", "Position": "Respiratory Therapist"},
    44: {"Company Name": "Green Energy", "Employee Name": "Natalie Rivera", "Position": "Environmental Scientist"},
    45: {"Company Name": "Global Finance", "Employee Name": "David Hughes", "Position": "Credit Analyst"},
    46: {"Company Name": "EduTech", "Employee Name": "Ella Jenkins", "Position": "Learning Specialist"},
    47: {"Company Name": "Urban Builders", "Employee Name": "Victoria Perry", "Position": "Urban Planner"},
    48: {"Company Name": "Cyber Secure", "Employee Name": "Henry Cooper", "Position": "Penetration Tester"},
    49: {"Company Name": "Aero Dynamics", "Employee Name": "Charlotte Brooks", "Position": "Systems Engineer"},
    50: {"Company Name": "WellCare", "Employee Name": "Scarlett Morris", "Position": "Occupational Therapist"},
}
company_data

{1: {'Company Name': 'Tech Innovators',
  'Employee Name': 'John Smith',
  'Position': 'Software Engineer'},
 2: {'Company Name': 'Creative Solutions',
  'Employee Name': 'Jane Doe',
  'Position': 'Graphic Designer'},
 3: {'Company Name': 'HealthFirst',
  'Employee Name': 'Emily Davis',
  'Position': 'Nurse'},
 4: {'Company Name': 'Green Energy',
  'Employee Name': 'Michael Brown',
  'Position': 'Project Manager'},
 5: {'Company Name': 'Global Finance',
  'Employee Name': 'Laura Wilson',
  'Position': 'Financial Analyst'},
 6: {'Company Name': 'EduTech',
  'Employee Name': 'Chris Johnson',
  'Position': 'Data Scientist'},
 7: {'Company Name': 'Urban Builders',
  'Employee Name': 'Amanda Taylor',
  'Position': 'Architect'},
 8: {'Company Name': 'Cyber Secure',
  'Employee Name': 'David Lee',
  'Position': 'Cybersecurity Specialist'},
 9: {'Company Name': 'Aero Dynamics',
  'Employee Name': 'Sarah Moore',
  'Position': 'Aerospace Engineer'},
 10: {'Company Name': 'WellCare',
  'Employee Name': 'Daniel Martin',
  'Position': 'Pharmacist'},
 11: {'Company Name': 'Tech Innovators',
  'Employee Name': 'James Anderson',
  'Position': 'DevOps Engineer'},
 12: {'Company Name': 'Creative Solutions',
  'Employee Name': 'Olivia Thomas',
  'Position': 'Content Writer'},
 13: {'Company Name': 'HealthFirst',
  'Employee Name': 'Megan Harris',
  'Position': 'Physical Therapist'},
 14: {'Company Name': 'Green Energy',
  'Employee Name': 'Andrew Lewis',
  'Position': 'Environmental Consultant'},
 15: {'Company Name': 'Global Finance',
  'Employee Name': 'Sophia Walker',
  'Position': 'Accountant'},
 16: {'Company Name': 'EduTech',
  'Employee Name': 'Ryan Hall',
  'Position': 'Machine Learning Engineer'},
 17: {'Company Name': 'Urban Builders',
  'Employee Name': 'Jessica Allen',
  'Position': 'Interior Designer'},
 18: {'Company Name': 'Cyber Secure',
  'Employee Name': 'Ethan Young',
  'Position': 'Network Administrator'},
 19: {'Company Name': 'Aero Dynamics',
  'Employee Name': 'Madison King',
  'Position': 'Mechanical Engineer'},
 20: {'Company Name': 'WellCare',
  'Employee Name': 'Joshua Wright',
  'Position': 'Radiologist'},
 21: {'Company Name': 'Tech Innovators',
  'Employee Name': 'Matthew Scott',
  'Position': 'Product Manager'},
 22: {'Company Name': 'Creative Solutions',
  'Employee Name': 'Ava Green',
  'Position': 'Marketing Specialist'},
 23: {'Company Name': 'HealthFirst',
  'Employee Name': 'Chloe Baker',
  'Position': 'Dietitian'},
 24: {'Company Name': 'Green Energy',
  'Employee Name': 'Benjamin Adams',
  'Position': 'Sustainability Officer'},
 25: {'Company Name': 'Global Finance',
  'Employee Name': 'Zoe Nelson',
  'Position': 'Risk Analyst'},
 26: {'Company Name': 'EduTech',
  'Employee Name': 'Liam Carter',
  'Position': 'Education Consultant'},
 27: {'Company Name': 'Urban Builders',
  'Employee Name': 'Isabella Perez',
  'Position': 'Construction Manager'},
 28: {'Company Name': 'Cyber Secure',
  'Employee Name': 'Mason Roberts',
  'Position': 'IT Support Specialist'},
 29: {'Company Name': 'Aero Dynamics',
  'Employee Name': 'Ella Reed',
  'Position': 'Aviation Engineer'},
 30: {'Company Name': 'WellCare',
  'Employee Name': 'Samuel Turner',
  'Position': 'Physical Therapist'},
 31: {'Company Name': 'Tech Innovators',
  'Employee Name': 'Grace Lewis',
  'Position': 'Data Analyst'},
 32: {'Company Name': 'Creative Solutions',
  'Employee Name': 'Jackson Torres',
  'Position': 'SEO Specialist'},
 33: {'Company Name': 'HealthFirst',
  'Employee Name': 'Hannah Stewart',
  'Position': 'Medical Lab Technician'},
 34: {'Company Name': 'Green Energy',
  'Employee Name': 'Lucas Murphy',
  'Position': 'Energy Consultant'},
 35: {'Company Name': 'Global Finance',
  'Employee Name': 'Lily Collins',
  'Position': 'Investment Analyst'},
 36: {'Company Name': 'EduTech',
  'Employee Name': 'Aiden Ramirez',
  'Position': 'Curriculum Developer'},
 37: {'Company Name': 'Urban Builders',
  'Employee Name': 'Mia Cox',
  'Position': 'Surveyor'},
 38: {'Company Name': 'Cyber Secure',
  'Employee Name': 'Harper Howard',
  'Position': 'Security Analyst'},
 39: {'Company Name': 'Aero Dynamics',
  'Employee Name': 'Jayden Price',
  'Position': 'Flight Engineer'},
 40: {'Company Name': 'WellCare',
  'Employee Name': 'Sophie Hughes',
  'Position': 'Registered Nurse'},
 41: {'Company Name': 'Tech Innovators',
  'Employee Name': 'Alexander Barnes',
  'Position': 'UX Designer'},
 42: {'Company Name': 'Creative Solutions',
  'Employee Name': 'Aria Bell',
  'Position': 'Copywriter'},
 43: {'Company Name': 'HealthFirst',
  'Employee Name': 'Gabriel Ramirez',
  'Position': 'Respiratory Therapist'},
 44: {'Company Name': 'Green Energy',
  'Employee Name': 'Natalie Rivera',
  'Position': 'Environmental Scientist'},
 45: {'Company Name': 'Global Finance',
  'Employee Name': 'David Hughes',
  'Position': 'Credit Analyst'},
 46: {'Company Name': 'EduTech',
  'Employee Name': 'Ella Jenkins',
  'Position': 'Learning Specialist'},
 47: {'Company Name': 'Urban Builders',
  'Employee Name': 'Victoria Perry',
  'Position': 'Urban Planner'},
 48: {'Company Name': 'Cyber Secure',
  'Employee Name': 'Henry Cooper',
  'Position': 'Penetration Tester'},
 49: {'Company Name': 'Aero Dynamics',
  'Employee Name': 'Charlotte Brooks',
  'Position': 'Systems Engineer'},
 50: {'Company Name': 'WellCare',
  'Employee Name': 'Scarlett Morris',
  'Position': 'Occupational Therapist'}}

In [60]:
cd = pd.DataFrame(company_data)
cd

,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
Company Name,Tech Innovators,Creative Solutions,HealthFirst,Green Energy,Global Finance,EduTech,Urban Builders,Cyber Secure,Aero Dynamics,WellCare,...,Tech Innovators,Creative Solutions,HealthFirst,Green Energy,Global Finance,EduTech,Urban Builders,Cyber Secure,Aero Dynamics,WellCare
Employee Name,John Smith,Jane Doe,Emily Davis,Michael Brown,Laura Wilson,Chris Johnson,Amanda Taylor,David Lee,Sarah Moore,Daniel Martin,...,Alexander Barnes,Aria Bell,Gabriel Ramirez,Natalie Rivera,David Hughes,Ella Jenkins,Victoria Perry,Henry Cooper,Charlotte Brooks,Scarlett Morris
Position,Software Engineer,Graphic Designer,Nurse,Project Manager,Financial Analyst,Data Scientist,Architect,Cybersecurity Specialist,Aerospace Engineer,Pharmacist,...,UX Designer,Copywriter,Respiratory Therapist,Environmental Scientist,Credit Analyst,Learning Specialist,Urban Planner,Penetration Tester,Systems Engineer,Occupational Therapist

In [61]:
cd = cd.T

In [65]:
cd.drop_duplicates(subset = "Company Name",keep = False)

Empty DataFrame
Columns: [Company Name, Employee Name, Position]
Index: []

In [66]:
cd

          Company Name     Employee Name                   Position
1      Tech Innovators        John Smith          Software Engineer
2   Creative Solutions          Jane Doe           Graphic Designer
3          HealthFirst       Emily Davis                      Nurse
4         Green Energy     Michael Brown            Project Manager
5       Global Finance      Laura Wilson          Financial Analyst
6              EduTech     Chris Johnson             Data Scientist
7       Urban Builders     Amanda Taylor                  Architect
8         Cyber Secure         David Lee   Cybersecurity Specialist
9        Aero Dynamics       Sarah Moore         Aerospace Engineer
10            WellCare     Daniel Martin                 Pharmacist
11     Tech Innovators    James Anderson            DevOps Engineer
12  Creative Solutions     Olivia Thomas             Content Writer
13         HealthFirst      Megan Harris         Physical Therapist
14        Green Energy      Andrew Lewis   Environmental Consultant
15      Global Finance     Sophia Walker                 Accountant
16             EduTech         Ryan Hall  Machine Learning Engineer
17      Urban Builders     Jessica Allen          Interior Designer
18        Cyber Secure       Ethan Young      Network Administrator
19       Aero Dynamics      Madison King        Mechanical Engineer
20            WellCare     Joshua Wright                Radiologist
21     Tech Innovators     Matthew Scott            Product Manager
22  Creative Solutions         Ava Green       Marketing Specialist
23         HealthFirst       Chloe Baker                  Dietitian
24        Green Energy    Benjamin Adams     Sustainability Officer
25      Global Finance        Zoe Nelson               Risk Analyst
26             EduTech       Liam Carter       Education Consultant
27      Urban Builders    Isabella Perez       Construction Manager
28        Cyber Secure     Mason Roberts      IT Support Specialist
29       Aero Dynamics         Ella Reed          Aviation Engineer
30            WellCare     Samuel Turner         Physical Therapist
31     Tech Innovators       Grace Lewis               Data Analyst
32  Creative Solutions    Jackson Torres             SEO Specialist
33         HealthFirst    Hannah Stewart     Medical Lab Technician
34        Green Energy      Lucas Murphy          Energy Consultant
35      Global Finance      Lily Collins         Investment Analyst
36             EduTech     Aiden Ramirez       Curriculum Developer
37      Urban Builders           Mia Cox                   Surveyor
38        Cyber Secure     Harper Howard           Security Analyst
39       Aero Dynamics      Jayden Price            Flight Engineer
40            WellCare     Sophie Hughes           Registered Nurse
41     Tech Innovators  Alexander Barnes                UX Designer
42  Creative Solutions         Aria Bell                 Copywriter
43         HealthFirst   Gabriel Ramirez      Respiratory Therapist
44        Green Energy    Natalie Rivera    Environmental Scientist
45      Global Finance      David Hughes             Credit Analyst
46             EduTech      Ella Jenkins        Learning Specialist
47      Urban Builders    Victoria Perry              Urban Planner
48        Cyber Secure      Henry Cooper         Penetration Tester
49       Aero Dynamics  Charlotte Brooks           Systems Engineer
50            WellCare   Scarlett Morris     Occupational Therapist

In [70]:
cd.to_csv("Company data.csv")
cd

          Company Name     Employee Name                   Position
1      Tech Innovators        John Smith          Software Engineer
2   Creative Solutions          Jane Doe           Graphic Designer
3          HealthFirst       Emily Davis                      Nurse
4         Green Energy     Michael Brown            Project Manager
5       Global Finance      Laura Wilson          Financial Analyst
6              EduTech     Chris Johnson             Data Scientist
7       Urban Builders     Amanda Taylor                  Architect
8         Cyber Secure         David Lee   Cybersecurity Specialist
9        Aero Dynamics       Sarah Moore         Aerospace Engineer
10            WellCare     Daniel Martin                 Pharmacist
11     Tech Innovators    James Anderson            DevOps Engineer
12  Creative Solutions     Olivia Thomas             Content Writer
13         HealthFirst      Megan Harris         Physical Therapist
14        Green Energy      Andrew Lewis   Environmental Consultant
15      Global Finance     Sophia Walker                 Accountant
16             EduTech         Ryan Hall  Machine Learning Engineer
17      Urban Builders     Jessica Allen          Interior Designer
18        Cyber Secure       Ethan Young      Network Administrator
19       Aero Dynamics      Madison King        Mechanical Engineer
20            WellCare     Joshua Wright                Radiologist
21     Tech Innovators     Matthew Scott            Product Manager
22  Creative Solutions         Ava Green       Marketing Specialist
23         HealthFirst       Chloe Baker                  Dietitian
24        Green Energy    Benjamin Adams     Sustainability Officer
25      Global Finance        Zoe Nelson               Risk Analyst
26             EduTech       Liam Carter       Education Consultant
27      Urban Builders    Isabella Perez       Construction Manager
28        Cyber Secure     Mason Roberts      IT Support Specialist
29       Aero Dynamics         Ella Reed          Aviation Engineer
30            WellCare     Samuel Turner         Physical Therapist
31     Tech Innovators       Grace Lewis               Data Analyst
32  Creative Solutions    Jackson Torres             SEO Specialist
33         HealthFirst    Hannah Stewart     Medical Lab Technician
34        Green Energy      Lucas Murphy          Energy Consultant
35      Global Finance      Lily Collins         Investment Analyst
36             EduTech     Aiden Ramirez       Curriculum Developer
37      Urban Builders           Mia Cox                   Surveyor
38        Cyber Secure     Harper Howard           Security Analyst
39       Aero Dynamics      Jayden Price            Flight Engineer
40            WellCare     Sophie Hughes           Registered Nurse
41     Tech Innovators  Alexander Barnes                UX Designer
42  Creative Solutions         Aria Bell                 Copywriter
43         HealthFirst   Gabriel Ramirez      Respiratory Therapist
44        Green Energy    Natalie Rivera    Environmental Scientist
45      Global Finance      David Hughes             Credit Analyst
46             EduTech      Ella Jenkins        Learning Specialist
47      Urban Builders    Victoria Perry              Urban Planner
48        Cyber Secure      Henry Cooper         Penetration Tester
49       Aero Dynamics  Charlotte Brooks           Systems Engineer
50            WellCare   Scarlett Morris     Occupational Therapist

In [69]:
cd.to_csv("company data.csv", index = False)

Xlrd and Openpyxl are the libraries to handle Excel files in Pandas

In [73]:
com_dat = pd.read_csv("Company data.csv")
com_dat

,Unnamed: 0,Company Name,Employee Name,Position
0,1,Tech Innovators,John Smith,Software Engineer
1,2,Creative Solutions,Jane Doe,Graphic Designer
2,3,HealthFirst,Emily Davis,Nurse
3,4,Green Energy,Michael Brown,Project Manager
4,5,Global Finance,Laura Wilson,Financial Analyst
5,6,EduTech,Chris Johnson,Data Scientist
6,7,Urban Builders,Amanda Taylor,Architect
7,8,Cyber Secure,David Lee,Cybersecurity Specialist
8,9,Aero Dynamics,Sarah Moore,Aerospace Engineer
9,10,WellCare,Daniel Martin,Pharmacist
10,11,Tech Innovators,James Anderson,DevOps Engineer
11,12,Creative Solutions,Olivia Thomas,Content Writer
12,13,HealthFirst,Megan Harris,Physical Therapist
13,14,Green Energy,Andrew Lewis,Environmental Consultant
14,15,Global Finance,Sophia Walker,Accountant
15,16,EduTech,Ryan Hall,Machine Learning Engineer
16,17,Urban Builders,Jessica Allen,Interior Designer
17,18,Cyber Secure,Ethan Young,Network Administrator
18,19,Aero Dynamics,Madison King,Mechanical Engineer
19,20,WellCare,Joshua Wright,Radiologist
20,21,Tech Innovators,Matthew Scott,Product Manager
21,22,Creative Solutions,Ava Green,Marketing Specialist
22,23,HealthFirst,Chloe Baker,Dietitian
23,24,Green Energy,Benjamin Adams,Sustainability Officer
24,25,Global Finance,Zoe Nelson,Risk Analyst
25,26,EduTech,Liam Carter,Education Consultant
26,27,Urban Builders,Isabella Perez,Construction Manager
27,28,Cyber Secure,Mason Roberts,IT Support Specialist
28,29,Aero Dynamics,Ella Reed,Aviation Engineer
29,30,WellCare,Samuel Turner,Physical Therapist
30,31,Tech Innovators,Grace Lewis,Data Analyst
31,32,Creative Solutions,Jackson Torres,SEO Specialist
32,33,HealthFirst,Hannah Stewart,Medical Lab Technician
33,34,Green Energy,Lucas Murphy,Energy Consultant
34,35,Global Finance,Lily Collins,Investment Analyst
35,36,EduTech,Aiden Ramirez,Curriculum Developer
36,37,Urban Builders,Mia Cox,Surveyor
37,38,Cyber Secure,Harper Howard,Security Analyst
38,39,Aero Dynamics,Jayden Price,Flight Engineer
39,40,WellCare,Sophie Hughes,Registered Nurse
40,41,Tech Innovators,Alexander Barnes,UX Designer
41,42,Creative Solutions,Aria Bell,Copywriter
42,43,HealthFirst,Gabriel Ramirez,Respiratory Therapist
43,44,Green Energy,Natalie Rivera,Environmental Scientist
44,45,Global Finance,David Hughes,Credit Analyst
45,46,EduTech,Ella Jenkins,Learning Specialist
46,47,Urban Builders,Victoria Perry,Urban Planner
47,48,Cyber Secure,Henry Cooper,Penetration Tester
48,49,Aero Dynamics,Charlotte Brooks,Systems Engineer
49,50,WellCare,Scarlett Morris,Occupational Therapist

In [74]:
com_dat.drop(2, axis=0)

,Unnamed: 0,Company Name,Employee Name,Position
0,1,Tech Innovators,John Smith,Software Engineer
1,2,Creative Solutions,Jane Doe,Graphic Designer
3,4,Green Energy,Michael Brown,Project Manager
4,5,Global Finance,Laura Wilson,Financial Analyst
5,6,EduTech,Chris Johnson,Data Scientist
6,7,Urban Builders,Amanda Taylor,Architect
7,8,Cyber Secure,David Lee,Cybersecurity Specialist
8,9,Aero Dynamics,Sarah Moore,Aerospace Engineer
9,10,WellCare,Daniel Martin,Pharmacist
10,11,Tech Innovators,James Anderson,DevOps Engineer
11,12,Creative Solutions,Olivia Thomas,Content Writer
12,13,HealthFirst,Megan Harris,Physical Therapist
13,14,Green Energy,Andrew Lewis,Environmental Consultant
14,15,Global Finance,Sophia Walker,Accountant
15,16,EduTech,Ryan Hall,Machine Learning Engineer
16,17,Urban Builders,Jessica Allen,Interior Designer
17,18,Cyber Secure,Ethan Young,Network Administrator
18,19,Aero Dynamics,Madison King,Mechanical Engineer
19,20,WellCare,Joshua Wright,Radiologist
20,21,Tech Innovators,Matthew Scott,Product Manager
21,22,Creative Solutions,Ava Green,Marketing Specialist
22,23,HealthFirst,Chloe Baker,Dietitian
23,24,Green Energy,Benjamin Adams,Sustainability Officer
24,25,Global Finance,Zoe Nelson,Risk Analyst
25,26,EduTech,Liam Carter,Education Consultant
26,27,Urban Builders,Isabella Perez,Construction Manager
27,28,Cyber Secure,Mason Roberts,IT Support Specialist
28,29,Aero Dynamics,Ella Reed,Aviation Engineer
29,30,WellCare,Samuel Turner,Physical Therapist
30,31,Tech Innovators,Grace Lewis,Data Analyst
31,32,Creative Solutions,Jackson Torres,SEO Specialist
32,33,HealthFirst,Hannah Stewart,Medical Lab Technician
33,34,Green Energy,Lucas Murphy,Energy Consultant
34,35,Global Finance,Lily Collins,Investment Analyst
35,36,EduTech,Aiden Ramirez,Curriculum Developer
36,37,Urban Builders,Mia Cox,Surveyor
37,38,Cyber Secure,Harper Howard,Security Analyst
38,39,Aero Dynamics,Jayden Price,Flight Engineer
39,40,WellCare,Sophie Hughes,Registered Nurse
40,41,Tech Innovators,Alexander Barnes,UX Designer
41,42,Creative Solutions,Aria Bell,Copywriter
42,43,HealthFirst,Gabriel Ramirez,Respiratory Therapist
43,44,Green Energy,Natalie Rivera,Environmental Scientist
44,45,Global Finance,David Hughes,Credit Analyst
45,46,EduTech,Ella Jenkins,Learning Specialist
46,47,Urban Builders,Victoria Perry,Urban Planner
47,48,Cyber Secure,Henry Cooper,Penetration Tester
48,49,Aero Dynamics,Charlotte Brooks,Systems Engineer
49,50,WellCare,Scarlett Morris,Occupational Therapist

In [75]:
com_dat

,Unnamed: 0,Company Name,Employee Name,Position
0,1,Tech Innovators,John Smith,Software Engineer
1,2,Creative Solutions,Jane Doe,Graphic Designer
2,3,HealthFirst,Emily Davis,Nurse
3,4,Green Energy,Michael Brown,Project Manager
4,5,Global Finance,Laura Wilson,Financial Analyst
5,6,EduTech,Chris Johnson,Data Scientist
6,7,Urban Builders,Amanda Taylor,Architect
7,8,Cyber Secure,David Lee,Cybersecurity Specialist
8,9,Aero Dynamics,Sarah Moore,Aerospace Engineer
9,10,WellCare,Daniel Martin,Pharmacist
10,11,Tech Innovators,James Anderson,DevOps Engineer
11,12,Creative Solutions,Olivia Thomas,Content Writer
12,13,HealthFirst,Megan Harris,Physical Therapist
13,14,Green Energy,Andrew Lewis,Environmental Consultant
14,15,Global Finance,Sophia Walker,Accountant
15,16,EduTech,Ryan Hall,Machine Learning Engineer
16,17,Urban Builders,Jessica Allen,Interior Designer
17,18,Cyber Secure,Ethan Young,Network Administrator
18,19,Aero Dynamics,Madison King,Mechanical Engineer
19,20,WellCare,Joshua Wright,Radiologist
20,21,Tech Innovators,Matthew Scott,Product Manager
21,22,Creative Solutions,Ava Green,Marketing Specialist
22,23,HealthFirst,Chloe Baker,Dietitian
23,24,Green Energy,Benjamin Adams,Sustainability Officer
24,25,Global Finance,Zoe Nelson,Risk Analyst
25,26,EduTech,Liam Carter,Education Consultant
26,27,Urban Builders,Isabella Perez,Construction Manager
27,28,Cyber Secure,Mason Roberts,IT Support Specialist
28,29,Aero Dynamics,Ella Reed,Aviation Engineer
29,30,WellCare,Samuel Turner,Physical Therapist
30,31,Tech Innovators,Grace Lewis,Data Analyst
31,32,Creative Solutions,Jackson Torres,SEO Specialist
32,33,HealthFirst,Hannah Stewart,Medical Lab Technician
33,34,Green Energy,Lucas Murphy,Energy Consultant
34,35,Global Finance,Lily Collins,Investment Analyst
35,36,EduTech,Aiden Ramirez,Curriculum Developer
36,37,Urban Builders,Mia Cox,Surveyor
37,38,Cyber Secure,Harper Howard,Security Analyst
38,39,Aero Dynamics,Jayden Price,Flight Engineer
39,40,WellCare,Sophie Hughes,Registered Nurse
40,41,Tech Innovators,Alexander Barnes,UX Designer
41,42,Creative Solutions,Aria Bell,Copywriter
42,43,HealthFirst,Gabriel Ramirez,Respiratory Therapist
43,44,Green Energy,Natalie Rivera,Environmental Scientist
44,45,Global Finance,David Hughes,Credit Analyst
45,46,EduTech,Ella Jenkins,Learning Specialist
46,47,Urban Builders,Victoria Perry,Urban Planner
47,48,Cyber Secure,Henry Cooper,Penetration Tester
48,49,Aero Dynamics,Charlotte Brooks,Systems Engineer
49,50,WellCare,Scarlett Morris,Occupational Therapist

In [83]:
com_dat.reset_index(drop=True,inplace=True)

In [84]:
com_dat

,Unnamed: 0,Company Name,Employee Name,Position
0,1,Tech Innovators,John Smith,Software Engineer
1,2,Creative Solutions,Jane Doe,Graphic Designer
2,4,Green Energy,Michael Brown,Project Manager
3,5,Global Finance,Laura Wilson,Financial Analyst
4,6,EduTech,Chris Johnson,Data Scientist
5,7,Urban Builders,Amanda Taylor,Architect
6,8,Cyber Secure,David Lee,Cybersecurity Specialist
7,9,Aero Dynamics,Sarah Moore,Aerospace Engineer
8,10,WellCare,Daniel Martin,Pharmacist
9,11,Tech Innovators,James Anderson,DevOps Engineer
10,12,Creative Solutions,Olivia Thomas,Content Writer
11,13,HealthFirst,Megan Harris,Physical Therapist
12,14,Green Energy,Andrew Lewis,Environmental Consultant
13,15,Global Finance,Sophia Walker,Accountant
14,16,EduTech,Ryan Hall,Machine Learning Engineer
15,17,Urban Builders,Jessica Allen,Interior Designer
16,18,Cyber Secure,Ethan Young,Network Administrator
17,19,Aero Dynamics,Madison King,Mechanical Engineer
18,20,WellCare,Joshua Wright,Radiologist
19,21,Tech Innovators,Matthew Scott,Product Manager
20,22,Creative Solutions,Ava Green,Marketing Specialist
21,23,HealthFirst,Chloe Baker,Dietitian
22,24,Green Energy,Benjamin Adams,Sustainability Officer
23,25,Global Finance,Zoe Nelson,Risk Analyst
24,26,EduTech,Liam Carter,Education Consultant
25,27,Urban Builders,Isabella Perez,Construction Manager
26,28,Cyber Secure,Mason Roberts,IT Support Specialist
27,29,Aero Dynamics,Ella Reed,Aviation Engineer
28,30,WellCare,Samuel Turner,Physical Therapist
29,31,Tech Innovators,Grace Lewis,Data Analyst
30,32,Creative Solutions,Jackson Torres,SEO Specialist
31,33,HealthFirst,Hannah Stewart,Medical Lab Technician
32,34,Green Energy,Lucas Murphy,Energy Consultant
33,35,Global Finance,Lily Collins,Investment Analyst
34,36,EduTech,Aiden Ramirez,Curriculum Developer
35,37,Urban Builders,Mia Cox,Surveyor
36,38,Cyber Secure,Harper Howard,Security Analyst
37,39,Aero Dynamics,Jayden Price,Flight Engineer
38,40,WellCare,Sophie Hughes,Registered Nurse
39,41,Tech Innovators,Alexander Barnes,UX Designer
40,42,Creative Solutions,Aria Bell,Copywriter
41,43,HealthFirst,Gabriel Ramirez,Respiratory Therapist
42,44,Green Energy,Natalie Rivera,Environmental Scientist
43,45,Global Finance,David Hughes,Credit Analyst
44,46,EduTech,Ella Jenkins,Learning Specialist
45,47,Urban Builders,Victoria Perry,Urban Planner
46,48,Cyber Secure,Henry Cooper,Penetration Tester
47,49,Aero Dynamics,Charlotte Brooks,Systems Engineer
48,50,WellCare,Scarlett Morris,Occupational Therapist

In [91]:
com_dat.to_csv("Company data.csv",index =False)

In [95]:
com_dat.to_excel("Company data.xlsx")